@CHARSET "UTF-8";
body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,th,td{ margin:0; padding:0;}
ol,ul{ list-style:none;}
img,fieldset{ border:0 none; display:block;}

#header{width:auto;height:8%;background-color: #70B833;}

#header a:link {color:#FFFFFF;}
#header a:visited {color:#FFFFFF;}
#header a:hover {color: #FFFFFF;font-weight: bold;}
#header a:active {color: #FFFFFF;font-weight: bold;}